<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Nonce Example</title>
  </head>
  <body>
    <h1>Hello, World!</h1>
    <script nonce='{{nonce}}'>
      console.log('This is a secure inline script!');
    </script>
  </body>
</html>